HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.metadata/
*.orig
/bin/
src/main/db/stored procedure/05_ispAddItemAndHistoryRecord_BACKUP_16344.sql
src/main/db/stored procedure/05_ispAddItemAndHistoryRecord_BASE_16344.sql
src/main/db/stored procedure/05_ispAddItemAndHistoryRecord_LOCAL_16344.sql
src/main/db/stored procedure/05_ispAddItemAndHistoryRecord_REMOTE_16344.sql
